{% extends "login.html" %}

{% load static %}

{% block contenido %}
    <div class="form_ver_productos">
        <div>
            <div class="encabezado"><h3>Datos de usuario</h3></div>
        </div>
        <table class="table table-bordered">
            <thead style="background-color: #FA9F42; text-align: center;">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido paterno</th>
                <th scope="col">Apellido materno</th>
            </tr>
            </thead>
    
            <tbody>
                {% if clientes %}
                {% for cliente in clientes %}
                    <th>{{cliente.nombreProducto}}</th>
                    <th>{{cliente.apellidoMaterno}}</th>
                    <th>{{cliente.apellidoPaterno}}</th>
                {% endfor %}
                {% endif %}
            </tbody> 
        </table>

    <div class="encabezado"><h4>Busqueda de Clientes:</h4></div>
    <form class="form_datos" action="/SuperMarket/buscar_clientes/" method="GET">
        <input type="text" name="claveCliente" placeholder="Clave de Cliente">
        <br>
        <button type="submit" class="btn btn-success">Buscar</button>
    </form>
    </div>

{% endblock %}