{% extends "login.html" %}

{% load static %}

{% block contenido %}

    <div class="form_productos">
        

        <form class="form_datos" method="POST" action="/SuperMarket/create_productos/">{% csrf_token %}
            <div class="encabezado"><h3>Registro de Productos</h3></div>
            <br>
                <label>Clave: </label>
                <input type="text" name="claveProducto" placeholder="Clave">
            <br>
                <label>Nombre: </label>
                <input type="text" name="nombreProducto" placeholder="Nombre del producto">
            <br>
                <label>Departamento: </label>
                <input type="text" name="departamento" placeholder="Departamento">
            <br>
                <label>Tipo: </label>
                <input type="text" name="tipo" placeholder="Tipo de producto">
            <br>
                <label>Marca: </label>
                <input type="text" name="marca" placeholder="Marca">
            <br>
                <label>Unidad de medida: </label>
                <input type="text" name="unidadMedida" placeholder="Unidad de medida">
            <br>
                <label>Fecha de caducidad: </label>
                <input type="text" name="fechaCaducidad" placeholder="yyyy-mm-dd">
            <br>
                <label>Stock: </label>
                <input type="number" name="stock" placeholder="Stock">
            <br>
            <button type="submit" class="btn btn-primary btndj">Registrar</button>
        </form>
    </div>
    <br>
    <br>

{% endblock %}