{% extends "login.html" %}

{% load static %}

{% block contenido %}

<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">

<div class="form_ver_productos">
  
    <table class="table table-bordered">
        <thead style="background-color: #FA9F42; text-align: center;">
          <tr>
            <th scope="col">Clave</th>
            <th scope="col">Nombre</th>
            <th scope="col">Departamento</th>
            <th scope="col">Tipo</th>
            <th scope="col">Marca</th>
            <th scope="col">Unidad</th>
            <th scope="col">Fecha de caducidad</th>
            <th scope="col">Stock</th>
            
          </tr>
        </thead>

        <tbody>
            {% for producto in productos %}
            <tr>
                <th>{{producto.claveProducto}}</th>
                <th>{{producto.nombre}}</th>
                <th>{{producto.departamento}}</th>
                <th>{{producto.tipo}}</th>
                <th>{{producto.marca}}</th>
                <th>{{producto.unidadMedida}}</th>
                <th>{{producto.fechaCaducidad}}</th>
                <th>{{producto.stock}}</th>
            </tr>
            {%endfor%}
        </tbody>
      </table>



<a class="btn btn-success" href="/SuperMarket/create_productos">+ Agregar Producto</a>

</div>
{% endblock %}