{% extends "login.html" %}

{% load static %}

{% block contenido %}

<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">

<div class="form_ver_productos">
  
    <table class="table table-bordered">
        <thead style="background-color: #FA9F42; text-align: center;">
          <tr>
            <th scope="col">Clave</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido paterno</th>
            <th scope="col">Apellido materno</th>
            <th scope="col">Edad</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">E-mail</th>
            <th scope="col">Membresía</th>
            <th scope="col">Accion</th>
            
          </tr>
        </thead>

        <tbody>
            {% for cliente in clientes %}
            <tr>
                <th>{{cliente.claveCliente}}</th>
                <th>{{cliente.nombreProducto}}</th>
                <th>{{cliente.apellidoPaterno}}</th>
                <th>{{cliente.apellidoMaterno}}</th>
                <th>{{cliente.edad}}</th>
                <th>{{cliente.fechaNacimiento}}</th>
                <th>{{cliente.email}}</th>
                <th>{{cliente.membresia}}</th>
                <th><a class="btn btn-success" href="/SuperMarket/update_clientes/{{cliente.id}}">Edit</a><a class="btn btn-danger" href="/SuperMarket/delete_clientes/{{cliente.id}}">Delete</a></th>
            </tr>
            {%endfor%}
        </tbody>
      </table>



<a class="btn btn-success" href="/SuperMarket/create_clientes">+ Agregar Cliente</a>
<br>
<br>
<br>
<div>
  <div class="encabezado"><h4>Busqueda de Clientes:</h4></div>
  <form class="form_datos" action="/SuperMarket/buscar_clientes/" method="GET">
      <input type="text" name="claveCliente" placeholder="Clave de Cliente">
      <br>
      <button type="submit" class="btn btn-success">Buscar</button>
  </form>
</div>

</div>

<div>
  
</div>

{% endblock %}