.contenido1{
    position: relative;
    top: 60px;
}

.form_productos{
    margin: auto;
    width: 50%;
    height: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 3px 2px 15px 8px rgba(0, 0, 0, 0.2);
}

.form_datos{
    margin:auto auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    color: black;
}

.btndj{
    border-radius: 20px !important;
    width: 40%;
    margin:auto auto;
    
}



h3{
    margin-left: 25%;
 }

body{
    background-color: white;
}

body #navbar{
    background-color:#BAD879;
}

body #title_navbar{
    margin-left: 10px;
}

.nav-item :hover{
    background-color: #5ACFC9;
}

